Source: ros-indigo-scitos-2d-navigation
Section: misc
Priority: extra
Maintainer: nbore <nilsbore@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-move-base
Homepage: http://github.com/strands-project/scitos_2d_navigation
Standards-Version: 3.9.2

Package: ros-indigo-scitos-2d-navigation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-amcl, ros-indigo-move-base
Description: This package contains components for using the ROS move base together with the Scitos G5 robot.
